

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
header {
   background: #e74c3c;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    
  }

footer {
    text-align: center;
    background: #e74c3c;
    color: #ffffff;  
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
  
nav ul {
    list-style: none;
    padding: 0;
  }
  
nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff ;
    
  }
  
.galleri {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px ;
    gap: 40px;
    
    
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
   